*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.37);
    margin: 0;
    line-height: 1.8em;
}

figure {
    margin: 0;
}

article p {
    margin: 1.5em 0;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0;
}

#home {
    height: 75%;
    background: url('background.png') center center no-repeat;
    background-size: cover;
}

#banner {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.87);
    width: 55%;
    left: 5%;
    opacity: 0;
    animation: appear 1s 500ms forwards;
}

#banner h1 {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.77);
}

#phone {
    position: absolute;
    bottom: -75px;
    right: 5%;
    max-width: 50%;
    max-height: 100%;
    transform: translateY(15%);
}

.u-xs--hidden {
    display: none;
}

.c-section {
    margin-bottom: 75px;
    position: relative;
}

.c-nav {
    width: 100%;
    height: 8em;
    text-align: center;
    position: fixed;
    line-height: 8em;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.c-nav__title {
    display: inline-block;
    margin: 0 auto;
    color: #8acf4d;
    font-weight: 700;
}

.c-nav__right {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: end;
    display: inline-block;
}

.c-nav__right__icon {
    margin-right: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.c-nav__right__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 350ms;
}

.c-nav__right__menu--hidden {
    visibility: hidden;
    opacity: 0;
}

.c-nav__right__menu__item {
    text-align: center;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.7);
}

.c-nav__right__menu__item__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 300;
    transition: color 350ms;
}

.c-nav__right__menu__item__link--active {
    color: #8acf4d;
}

.o-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.o-container__col {
    width: 100%;
}

.c-card {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 30px 30px 50px 30px;
    color: rgba(255, 255, 255, 0.87);
}

.c-card__header {
    color: rgba(255, 255, 255, 0.87);
}

.c-card__footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 30px;
    text-decoration: none;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
}

@keyframes appear {
    100% {
        top: 50%;
        opacity: 1;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
    }

    #home {
        border-bottom: 3px solid #8acf4d;
    }

    #banner {
        left: 15%;
        width: 35%;
    }

    #phone {
        right: 15%;
    }

    .u-xs--hidden {
        display: block;
    }

    .u-md--hidden {
        display: none;
    }

    .c-nav__right {
        width: 100%;
    }

    .c-nav__right__menu {
        display: block;
    }

    .c-nav__right__menu--hidden {
        visibility: visible;
        opacity: 1;
    }

    .c-nav__right__menu__item {
        display: inline-block;
        margin: 0 1.5em;
        font-size: 1.5em;
        background: none;
    }

    .c-nav__right__menu__item:last-child {
        margin-right: 3em;
    }

    .c-nav__right__menu__item__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 300;
        border-bottom: 2px solid rgba(138, 207, 77, 0);
        padding-bottom: 2em;
        transition: all 350ms;
    }

    .c-nav__right__menu__item__link--active {
        border-bottom: 2px solid rgba(138, 207, 77, 1);
        padding-bottom: 0;
    }

    .c-card {
        padding: 70px 40px;
    }

    .o-container {
        width: 70%;
    }

    .u-6-12--md {
        width: 50%;
    }

    .u-4-12--md {
        width: 33.33%;
    }

    .u-8-12--md {
        width: 66.66%;
    }

    .u-5-10--md {
        width: 50%;
    }

    .u-7-10--md {
        width: 70%;
    }

    ._underneath-phone {
        transform: translateY(30%);
    }

    .u-padded--right--md {
        padding-right: 15px;
    }

    .u-padded--left--md  {
        padding-left: 15px;
    }
}